* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f1f5f8;
	.section-center {
		max-width: 960px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		.question {
			background-color: rgb(255, 255, 255);
			padding: 10px;
			margin: 20px;
			width: 560px;
			border-radius: 5px;

			.question-header {
				display: flex;
                justify-content: space-between;
                
                .question-title {
                    font-size: 1.5rem;
                    word-spacing: 0.3rem;
                    letter-spacing: 0.2rem;
                }

                .question-button {
                    border: none;
                    background: transparent;  
                    transition: all;
                    transition-duration: 1s;
                    display: inline-block; 

                    span {
                        font-size: 2rem;
                    }

                    &:hover {
                        transform: rotateZ(90deg);
                    }
                }
			}

			.question-text {
				display: none;
			}
        } 
        
        .show-text {
            display: block;
        }
	}
}
